{% macro sourcesList(sources) %}

{% for source in sources %}
<div class="source d-flex flex-wrap p-3 mx-auto">
    <div class="card shadow-lg rounded mask flex-center"
         style=" width: 20rem;">
        <div class="card-header text-center">
            <a href="{{source.url}}">
                <h1>{{source.name}}</h1>
            </a>
            <p class="text-muted">{{source.cat}}</p>
            <a href="/articles/{{source.id}}">
                <p>Show more</p>
            </a>
        </div>
        <div class="card-body">
            <p class="card-text">{{source.descript}}</p>
        </div>
    </div>
</div>