<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
            <a class="navbar-brand" href="#News">News</a>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#Home">Home<span class="sr-only">(current)</span></a></li>
                        <li><a href="#headlines">Headlines</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                aria-expanded="false">Category<span class="caret"></span></a>
                            
                                <ul class="dropdown-menu">
                                    <li><a href="#General">General</a></li>
                                    <li><a href="#Business">Bussiness</a></li>
                                    <li><a href="#Entertainment">Entertainment</a></li>
                                    <li><a href="#Technology">Technology</a></li>
                                    <li><a href="#Science">Science</a></li>
                                    <!-- <li role="separator" class="divider"></li> -->

                                </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">search</button>
                          </form>
                </div>
            </div>
        </div>
</nav>