{% extends 'base.html'%}
{% import 'macros.html' as macro%}


<!-- Styles -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/news.css')}}">
{% endblock %}

<!-- block Content -->
{% block content %}
<div class="jumbotron">

    <!--  background images -->
    {% comment %} displaying the image for the news that has been displayed {% endcomment %}
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 imagePath" style="background: url({{news.image}}) no-repeat center center">
        </div>

 {% comment %} this is you are given an opportunity to write your comment on the news 
 to display the number of people accessing the news  of each news  {% endcomment %}

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 news_details">
            <h3>{{ news.title }}</h3>

            <p class="comments"> {{ news.comments }}</p>
  
 
            <p class="rate-me"> <b> {{ news.vote_average }}</b> - <i>{{ news.vote_count}} news </i> </p>
            <a class="rate-me" href="/news/comments/new/{{news.id}}"> Write a new comments on the news</a>


        </div>


    </div>
    
      <!-- incase the movie has not been commented on this is what to be displayed on the comments area. -->
    
    <div class="row">

        <h1>Comments</h1>
        <hr>

        {% if comments %}
            {{macro.displayComments(comments)}}

        {% else%}
            <h3 class="text-area">This news  has no comments </h3>

            <a class="btn btn-success btn-lg text-center" href="/news/comments/new/{{news.id}}"> Write your new comment</a>
        {% endif %}

    </div>

</div>
{% endblock %}
